
<ul class="listmenu">
<li><img src="appSushi/appSushi/src/app/image/SUSHI1_menu.png" alt="Menu 1">Le menu gourmet mix a pour objectif de vous proposé toute une palette de saveurs et de textures</li>
<br>
<li><img src="appSushi/appSushi/src/app/image/sushi2_menu.png" alt="Menu 2">Le menu Fresh mix est là pour vous lors de période chaude avec sa boisson et sa sauce inclue</li>
<br>
<li><img src="appSushi/appSushi/src/app/image/sushi3_menu.png" alt="Menu 3">Le Salmon Lovers, pour les fan de saumon. Régalez vous avec ce plateau de saumon préparé sous toute ses formes traditionnelles </li>
</ul>
