<ul>
<ul class="listeboxe">
<li><img src="appSushi/appSushi/src/app/image/boxes 2.png" alt="Boxe 1 ">La full Maki est la boxe standard proposant un mix de saveur enroulé dans une algue</li>
<br>
<li><img src="appSushi/appSushi/src/app/image/boxes 3.jpg" alt="Boxe 2 ">La Big Boxe est la boxe premium avec un mélange de saveurs à partagé (ou pas)</li>
<br>
<li><img src="appSushi/appSushi/src/app/image/boxes1.png" alt="Boxe 3 ">L'éxotique propose un mix inédit de maki certifié Oishi</li>

</ul>
</ul>
