<body>

<img class="fond" src="./image/fond.jpg" alt="Fond d'écran sushi">
<header>
    <img class="logohead" src="./image/logo/logo_contour.png" alt="Logo Oishi">

    <a href="./app/auth/register/register.component.html"><img class="profil" src="./image/profil.png"></a>
<ul class="nav">
<li><a href="./app/menu">Menu</a></li>
<li><a href="./app/offre">Offres</a></li>
<li><a href="./app/boxes/list">Boxes</a></li>
<li><a href="">Livraison</a></li>
</ul>

</header>
<br><br><br><br><br><br>
<h1>Bienvenue chez vous</h1>

<h2>Nous vous proposons plusieurs menu selon vos gouts</h2>
<app-menu></app-menu>

<br><br><br>

<h2>Voici nos offres inédites à ne pas raté</h2>
<app-offre></app-offre>
<br><br><br>

<h2>Découvrez nos succulentes boxes prête à être commandé dès maintenant !</h2>

</body>
<footer>
<p>&copy; 2026 Oishi Sushi. Tous droits réservés.</p>

</footer>
