<form (ngSubmit)="submit()">
  <input type="text" placeholder="Prénom" [(ngModel)]="form.firstname" name="firstname" required>
  <input type="text" placeholder="Nom" [(ngModel)]="form.lastname" name="lastname" required>
  <input type="email" placeholder="Email" [(ngModel)]="form.email" name="email" required>
  <input type="password" placeholder="Mot de passe" [(ngModel)]="form.password" name="password" required>

  <button type="submit"><a href="./app/accueil/accueil.component.html">Créer un compte</a></button>
</form>

<p>
  Nous veillons a ce que le RGPD soit respecté.
  Vos donnée sont collectées afin d'assurer la sécurité des utilisateurs.
  Ne vous en faites pas, nous ne partagerons jamais vos informations avec des tiers et vos donnée seront chiffrées de manière sécurisée.
  Merci de votre  confiance et bonne dégustation !
</p>
